<header style="background-color: black">
  <h2 style="color:#3366ff"><img src="http://csvconstruction.com/wp-content/uploads/2018/01/CSV-Logo-web2018lrg.jpg" alt="" width="50px">Upload</h2>
  
</header>